.flex-container{
    display: flex;
    background-color: blue;
}
.flex-item{
    background-color: grey;
    text-align: center;
    flex: 1;
}
.border{
    border: 2px solid black;
}
.paddington{
    padding: 10px;
    gap: 10px;
}
.padding12{
    padding: 12px;
    gap: 12px;
}
.padding15{
    padding: 15px;
    gap: 15px;
}
.grow1{
    flex-grow: 1;
}
.grow2 {
    flex-grow: 2;
}
.justify-evenly{
    justify-content: space-evenly;
}
.justify-around{
    justify-content: space-around;
}
.wrap{
    flex-wrap: wrap;
}
